/*INDEX*/

body{
	background-color: #9E4254;
}

.logo{
	width: 300px;
}

.nav-background{
	background-color: #ffb5c5;
}

.nav-contact{
	display: inline;
}

.nav-size{
	font-size: 19px;
}

#container-tratamientos{
	width: 800px;
	margin-top: 100px;
}

.icono{
	width: 80px;
}

/*RESPONSIVE*/

@media screen and (max-width: 400px) {
	.logo{
		width: 180px;
	}

	.nav-contact{
		font-size: 12.5px;
	}
}
