/*INDEX*/

body{
	background-color: #9E4254;
}

.logo{
	width: 300px;
}

.nav-background{
	background-color: #ffb5c5;
}

.nav-contact{
	display: inline;
}

.nav-size{
	font-size: 19px;
}

#container-tratamientos{
	max-width: 700px;
	margin-top: 100px;
}



.icono{
	width: 80px;
}

.texto-derecha{
	text-align: right;
}

/*RESPONSIVE*/

@media screen and (max-width: 768px) {
	.primero{
		order:1;
	}

	.segundo{
		order:2;
	}

	.tercero{
		order:3;
	}

	.cuarto{
		order:4;
	}

	.texto-derecha{
		text-align: left;
	}

}

@media screen and (max-width: 480px) {
	.logo{
		width: 180px;
	}

	.nav-contact{
		font-size: 12.5px;
	}

	#container-tratamientos p{
		display:none;
	}

	#container-tratamientos h6{
		padding-left: 70px;
		padding-top: 15px;
		font-size: 20px;
	}

	#container-tratamientos img{
		margin-left: 10px;
	}
}
