<div class="slider container-fluid">
    <img src="img/index/slider1.png">
    <img src="img/index/slider2.png">
</div>

<div id="container-tratamientos" class="container-fluid">
	<div class="row">
		<div class="col-md-4 text-right">
			<h6 class="float-right">Lorem Ipsum</h6>
			<p class="float-right">Lorem IpsumasddsadsadadasdsadasdasdasdaIpsumasddsadsadadasdsadasdasdasda</p>
		</div>
		<div class="col-md-2">
			<img src="img/index/implante.png" class="icono">
		</div>
		<div class="col-md-2">
			<img src="img/index/implante.png" class="icono">
		</div>
		<div class="col-md-4 text-left">
			<h6 class="float-left">Lorem Ipsum</h6>
			<p class="float-left">Lorem IpsumasddsadsadadasdsadasdasdasdaIpsumasddsadsadadasdsadasdasdasda</p>
		</div>
	</div>
	<div class="row pt-5 pb-5">
		<div class="col-md-4 text-right">
			<h6 class="float-right">Lorem Ipsum</h6>
			<p class="float-right">Lorem IpsumasddsadsadadasdsadasdasdasdaIpsumasddsadsadadasdsadasdasdasda</p>
		</div>
		<div class="col-md-2">
			<img src="img/index/implante.png" class="icono">
		</div>
		<div class="col-md-2">
			<img src="img/index/implante.png" class="icono">
		</div>
		<div class="col-md-4 text-left">
			<h6 class="float-left">Lorem Ipsum</h6>
			<p class="float-left">Lorem IpsumasddsadsadadasdsadasdasdasdaIpsumasddsadsadadasdsadasdasdasda</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 text-right">
			<h6 class="float-right">Lorem Ipsum</h6>
			<p class="float-right">Lorem IpsumasddsadsadadasdsadasdasdasdaIpsumasddsadsadadasdsadasdasdasda</p>
		</div>
		<div class="col-md-2">
			<img src="img/index/implante.png" class="icono">
		</div>
		<div class="col-md-2">
			<img src="img/index/implante.png" class="icono">
		</div>
		<div class="col-md-4 text-left">
			<h6 class="float-left">Lorem Ipsum</h6>
			<p class="float-left">Lorem IpsumasddsadsadadasdsadasdasdasdaIpsumasddsadsadadasdsadasdasdasda</p>
		</div>
	</div>
</div>

