<!--<div class="slider container-fluid">
    <img src="img/index/slider1.png">
    <img src="img/index/slider2.png">
</div>!-->

<div id="container-tratamientos" class="container-fluid">
	<div class="row">

		{% for tratamiento in tratamientos %}
			{% if loop.index % 2 != 0 %}
				<div class="row p-3">
					<div class="col-md-4 col-10 texto-derecha pt-4 segundo">
						<h6><strong>{{tratamiento.title}}</strong></h6>
						<p>{{tratamiento.description}}</p>
					</div>
					<div class="col-md-2 col-2 pt-4 primero">
						<img src="{{tratamiento.image}}" class="icono">
					</div>
			{% else %}
					<div class="col-md-2 col-2 pt-4 tercero">
						<img src="{{tratamiento.image}}" class="icono">
					</div>
					<div class="col-md-4 col-10 text-left pt-4 cuarto">
						<h6><strong>{{tratamiento.title}}</strong></h6>
						<p>{{tratamiento.description}}</p>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>


